__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

data/
results/cache/
results/figures/
results/*.csv

.ipynb_checkpoints/
*.ipynb_checkpoints

report/.aux/
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.lof
report/*.lot
report/*.bbl
report/*.blg
report/*.fdb_latexmk
report/*.fls
report/*.synctex.gz

.DS_Store
.vscode/
.idea/
